/* GENERAL SETUP */

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    color: white;
    font-family: 'Poppins', sans-serif;
    /* overflow: scroll; */
}

body {
    background-color: #264653;
}

h1 {
    text-align: center;
    font-size: 4em;
}

/* SEARCH FORM */
.controls {
    background-color: #1A2F38;
    text-align: center;
    padding: 2em 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.6em;
}

.controls p {
    display: inline;
}

input {
    background-color: #e9ebec; 
    padding: 0.5em 0.8em; 
    margin: 0 1em;
    border: transparent; 
    /* border-bottom: solid white 1px; */
    border-radius: 0.2em;
}

input::placeholder {
    color: #81878a;
    font-family: 'Poppins', sans-serif;
}

input:focus::placeholder {
    color: transparent;
}

button {
    background-color: #E76F51;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 0.36em 0.8em;
    border-radius: 0.2em;
    border: transparent;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #be5e45;
}

/* button:focus {
    outline: none;
} */

/* SEARCH RESULTS */
.wrapper {
    margin: 3em auto 5em auto;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em; */
    width: 50%;
    background-color: #1A2F38;
    border-radius: 0.6em;
    text-align: left;
    /* padding-left: auto;
    padding-right: auto; */
}

.wrapper h2 {
    text-align: center;
    font-size: 3em;
}

.wrapper p {
    font-size: 1.5em;
}


.results {
    /* margin-left: auto;
    margin-right: auto; */
    /* background-color: yellow; */
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minimax(150px, auto);
    grid-column-gap: 1em; */
    /* align-items: center; */
    overflow: auto;
}

.results h2 {
    margin-bottom: 0px;
}

.results img {
    width: 20em;
    height: 20em;
    float: left;
    /*position: relative;
    top: -100px; */
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; */
    padding-left: 100px;
    /* background-color: cornflowerblue; */
}

.details {
    /* background-color: pink; */
    /* grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5; */
    /* margin-left: auto;
    margin-right: auto; */
    overflow: hidden;
    line-height: 1.5em;
    float: right;
    padding-right: 100px;
}


/* MEDIA QUERIES */
@media screen and (max-width: 815px) {
    .controls{
        width: 80%;
    }
    .wrapper {
        width: 80%;
        text-align: center;
    }

    h1 {
        font-size: 2.5em;
    }

    .results h2 {
        font-size: 2em;
    }

    .results p {
        font-size: 1em;
    }

    .details {
        display: inline-block;
        /* float: none; */
        padding-left: auto;
        padding-right: auto;
    }

    .results img {
        display: block;
        margin: 0 auto;
        width: 15em;
        height: 15em;
    }


}