/* GENERAL SETUP */

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    color: white;
    font-family: 'Poppins', sans-serif;
    /* overflow: scroll; */
}

body {
    background-color: #264653;
}

/* TYPOGRAPHY */

h1 {
    text-align: center;
    font-size: 4em;
}

.controls p {
    display: inline;
}

.wrapper h2 {
    text-align: center;
    font-size: 3em;
}

.wrapper p {
    font-size: 1.5em;
}

.results h2 {
    margin-bottom: 0px;
}

/* SEARCH FORM */

.controls {
    background-color: #1A2F38;
    text-align: center;
    padding: 2em 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.6em;
    -webkit-box-shadow:0px 4px 4px #111f25;
    -moz-box-shadow:0px 4px 4px #111f25;
    box-shadow:0px 4px 4px #111f25;
}

input {
    background-color: #e9ebec; 
    padding: 0.5em 0.8em; 
    margin: 0 1em;
    border: transparent; 
    /* border-bottom: solid white 1px; */
    border-radius: 0.2em;
}

input::placeholder {
    color: #81878a;
    font-family: 'Poppins', sans-serif;
}

input:focus::placeholder {
    color: transparent;
}

/* BUTTONS */

button {
    background-color: #E76F51;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 0.36em 0.8em;
    border-radius: 0.2em;
    border: transparent;
    -webkit-box-shadow:0px 4px 4px #111f25;
    -moz-box-shadow:0px 4px 4px #111f25;
    box-shadow:0px 4px 4px #111f25;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #be5e45;
}

/* TEMP BUTTONS */

.celsius {
    width: 2.6em;
    text-align: center;
    margin-right: 8px;
    font-size: 1em;   
    -webkit-box-shadow:0px 4px 4px #111f25;
    -moz-box-shadow:0px 4px 4px #111f25;
    box-shadow:0px 4px 4px #111f25; 
}
.fahrenheit {
    width: 2.6em;
    text-align: center;
    font-size: 1em;
    -webkit-box-shadow:0px 4px 4px #111f25;
    -moz-box-shadow:0px 4px 4px #111f25;
    box-shadow:0px 4px 4px #111f25;
}

/* SEARCH RESULTS */

.wrapper {
    margin: 3em auto 5em auto;
    width: 50%;
    background-color: #1A2F38;
    border-radius: 0.6em;
    text-align: left;
    -webkit-box-shadow:0px 4px 4px #111f25;
    -moz-box-shadow:0px 4px 4px #111f25;
    box-shadow:0px 4px 4px #111f25;
}

.results {
    overflow: auto;
}

.results img {
    width: 20em;
    height: 20em;
    float: left;
    padding-left: 100px;
}

.details {
    overflow: hidden;
    line-height: 1.5em;
    float: right;
    padding-right: 100px;
    padding-bottom: 20px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 815px) {
    /* GENERAL SETUP */

    .wrapper {
        width: 80%;
        text-align: center;
    }

    /* TYPOGRAPHY */

    h1 {
        font-size: 2.5em;
    }

    .results h2 {
        font-size: 2em;
    }

    .results p {
        font-size: 1em;
    }

    /* SEARCH FORM */

    .controls{
        width: 80%;
    }

    button {
        margin-top: 1em;
    }

    /* SEARCH RESULTS */

    .details {
        display: inline-block;
        padding: 0 0 15px 0;
        float: none;
    }

    .results img {
        display: block;
        padding: 0;
        margin: auto;
        width: 15em;
        height: 15em;
        float: none;
    }
}